body {
    overflow: hidden;
}

.gameArea {
    width: 100vw;
    height: 100vh;
    background-color: rgb(51, 51, 51);
}

.enemy {
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: red;
}

.player {
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: green;
}

.coin {
    width: 25px;
    height: 25px;
    position: absolute;
    background-color: yellow;
}

.dialog {
    width: 100vw;
    height: 100vh;
    background-color: rgba(85, 85, 85, 0.349);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialogWindow {
    width: 500px;
    height: 250px;
    background-color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;   
}

.dialogWindow div {
    text-align: center;
    font-size: 25px;
}

.score {
    height: 50px;
    width: 100vw;
    color:#fff;
    text-align: center;
    font-size: 20px;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.418);
    z-index: 500000;
}