* {
    font-size: 21px;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 1000px;
    width: 100%;
    gap: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.insertInside {
    display: flex;
}

input {
    padding: 20px;
    display: flex;
}

button {
    border: 1px black solid;
    background-color: white;
    padding: 20px;
}