* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #ebebeb;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    margin-bottom: 10px;
    position: fixed;
    top: 0;
    width: 100%;
}

.logo__img {
    max-width: 50px;
    min-width: 30px;
}

nav>ul {
    list-style: none;
    display: flex;
}

nav>ul>li {
    padding-left: 10px;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 20px;
}


footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: black;
    border-radius: 30px 30px 0 0;
    padding: 30px;
}

.footer-container {
    max-width: 700px;
    display: flex;
    gap: 10px;
}

.footer-text {
    color: white
}

.footer-email__a {
    color: white;
    text-decoration: none;
}

.footer-email__a:visited {
    color: white;
}

.footer-email__a:active {
    color: white;
    text-decoration: underline;
}


.footer-phone__a {
    color: white;
}